*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(213, 177, 247);
}
.durzhach{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 50px;
}
.purvi{
    background-color: #fff;
    width: 180px;
    height: 180px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.purvi p{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-style: italic;
}
.vtori{
    background-color: #000000;
    width: 170px;
    height: 170px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: absolute;
    color: #fff;
    z-index: -1;
}
.vtori img{
    width: 100%;
    border-radius: 25px;
}
.purvi.active{
    opacity: 0;
    transition: ease-out 0.5s;
}
@media (min-width: 361px) and (max-width: 480px) {
    
}
