*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(221, 167, 226);
}
.durzhach{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 150px;
}
.purvi{
    background-color: #fff;
    width: 160px;
    height: 160px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.purvi p{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-style: italic;
    color: rgb(229, 145, 229);
}
.vtori{
    background-color: #000000;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: absolute;
    color: #fff;
    z-index: -1;
}
.vtori img{
    width: 100%;
    border-radius: 25px;
}
.purvi.active{
    opacity: 0;
    transition: ease-out 0.5s;
}
.cvete1, .cvete2{
    display: flex;
    flex-direction: column;
}
.cvete1 img, .cvete2 img{
    height: 1000px;
    width: 200px;
}